# $appName

## Name

$appName − [does something]

## Synopsis

```
$appName [options]
```

`$appName` is normally configured with a configuration file, hence all command-line arguments are optional. But note that if the `-n name` option is not given, then a configuration file named `$appName.conf` must be available at the MagAO-X standard config path.

## Description

`$appName` [does stuff in detail]

## Options

$appName accepts the [standard options](index.html#standard-options)

[and other stuff]

\* format in the config file column is section.option which implies the format

```
[section]
option=value
```
in the config file.

## INDI Properties

#### Read-Only INDI Properties

list them here

#### Read-Write INDI Properties

list them here

## Exit Status

`$appName` runs until killed.  Use the `logdump` utility to examine the process log for errors.


## Examples

To start the [description of app or $appName] for [context]:
```
/opt/MagAOX/bin/$appName -n [contextname]
```

## See also

[Source code.](../reference/group__$appName.html)
